{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">
  Hello, {{current_user.username}}...!! These are all the posts
</h1>
<div class="post-display">
  {% for post in all_posts %}
  <div class="card">
    <div class="card-header">
      <p style="display: inline">{{ post.post_user.username }}</p>
      <div class="dropdown" style="display: inline">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Options
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          {% if current_user.username == post.post_user.username %}
          <a class="dropdown-item" href="/delete-post/{{post.id}}"
            >delete post</a
          >
          {% endif %}
          <a class="dropdown-item" href="#"
            >Another action (update coming soon)</a
          >
          <a class="dropdown-item" href="#"
            >Something else here (update coming soon)</a
          >
        </div>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text" style="display: inline-block">{{ post.text }}</p>
      <div class="card-header">
        {{ post.creation_date }}
        <p>({{ post.likes|length }}
        
          {% set liked = false %}
  
          {% for like in post.likes %}
          {% if like.author == current_user.id %}
          {% set liked = true %}
          {% endif %}
          {% endfor %}
  
          {% if liked %}
          {% set like_class = 'fas fa-thumbs-up' %}
          {% else %}
          {% set like_class = 'far fa-thumbs-up' %}
          {% endif %}
  
          <a href="like/{{ post.id }}"><i
            class="{{ like_class }}"
            style="margin-left: 5px; margin-right: 5px;"
          ></i></a>)</p>

      </div>
    </div>
    <!-- ---------- comments ---------- -->
    <div class="view-comments">
      <h4 style="margin-left: 20px">Comments</h4>
      {% for comment in post.comments %}
      <div class="card">
        <div class="card-body">
          {{ comment.comment_user.username }}:{{ comment.text }}
          {{current_user.id}} {{comment.comment_user.id}} {% if current_user.id
          == comment.comment_user.id %}
          <a class="btn btn-danger" href="/delete-comment/{{ comment.id }}"
            >Delete comment</a
          >
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="comments">
      <form
        style="width: 80% !important; margin: auto"
        align="center"
        action="/create-comments/{{ post.id }}"
        method="post"
      >
        <div class="form-group">
          <label for="exampleInputEmail1">Comment</label>
          <input
            style="width: 80%; margin: auto"
            type="comment"
            class="form-control"
            id="comment"
            aria-describedby="comment"
            name="comment"
          />
        </div>
        <button type="submit" class="btn btn-primary">Comment</button>
      </form>
      <br />
    </div>
  </div>
  <br />
  {% endfor %}
</div>
{% endblock %}
